<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nuls.db.dao.impl.mybatis.mapper.TransactionLocalMapper">
    <resultMap id="BaseResultMap" type="io.nuls.db.entity.TransactionLocalPo">
        <id column="hash" jdbcType="VARCHAR" property="hash" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="tx_index" jdbcType="INTEGER" property="txIndex" />
        <result column="block_height" jdbcType="BIGINT" property="blockHeight" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="fee" jdbcType="BIGINT" property="fee" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.nuls.db.entity.TransactionLocalPo">
        <result column="txData" jdbcType="VARBINARY" property="txData" />
        <result column="sign" jdbcType="VARBINARY" property="sign" />
    </resultMap>
    <sql id="Base_Column_List">
        hash, type, tx_index, block_height, create_time, fee, remark
    </sql>
    <sql id="Blob_Column_List">
        txData, sign
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from transaction
        where hash = #{hash,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from transaction
        where hash = #{hash,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="io.nuls.db.entity.TransactionLocalPo">
        insert into transaction (hash, type, tx_index,
        block_height, create_time, fee,
        remark, txData, sign
        )
        values (#{hash,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{txIndex,jdbcType=INTEGER},
        #{blockHeight,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{fee,jdbcType=BIGINT},
        #{remark,jdbcType=VARCHAR}, #{txData,jdbcType=VARBINARY}, #{sign,jdbcType=VARBINARY}
        )
    </insert>
    <insert id="insertSelective" parameterType="io.nuls.db.entity.TransactionLocalPo">
        insert into transaction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hash != null">
                hash,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="txIndex != null">
                tx_index,
            </if>
            <if test="blockHeight != null">
                block_height,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="fee != null">
                fee,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="txData != null">
                txData,
            </if>
            <if test="sign != null">
                sign,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hash != null">
                #{hash,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="txIndex != null">
                #{txIndex,jdbcType=INTEGER},
            </if>
            <if test="blockHeight != null">
                #{blockHeight,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="fee != null">
                #{fee,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="txData != null">
                #{txData,jdbcType=VARBINARY},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=VARBINARY},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="io.nuls.db.entity.TransactionLocalPo">
        update transaction
        <set>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="txIndex != null">
                tx_index = #{txIndex,jdbcType=INTEGER},
            </if>
            <if test="blockHeight != null">
                block_height = #{blockHeight,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="fee != null">
                fee = #{fee,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="txData != null">
                txData = #{txData,jdbcType=VARBINARY},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARBINARY},
            </if>
        </set>
        where hash = #{hash,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.nuls.db.entity.TransactionLocalPo">
        update transaction
        set type = #{type,jdbcType=INTEGER},
        tx_index = #{txIndex,jdbcType=INTEGER},
        block_height = #{blockHeight,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=BIGINT},
        fee = #{fee,jdbcType=BIGINT},
        remark = #{remark,jdbcType=VARCHAR},
        txData = #{txData,jdbcType=VARBINARY},
        sign = #{sign,jdbcType=VARBINARY}
        where hash = #{hash,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.nuls.db.entity.TransactionLocalPo">
        update transaction
        set type = #{type,jdbcType=INTEGER},
        tx_index = #{txIndex,jdbcType=INTEGER},
        block_height = #{blockHeight,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=BIGINT},
        fee = #{fee,jdbcType=BIGINT},
        remark = #{remark,jdbcType=VARCHAR}
        where hash = #{hash,jdbcType=VARCHAR}
    </update>


    <insert id="batchInsert" parameterType="java.util.List">
        insert into transaction (hash, type, tx_index,
        block_height, create_time, fee,
        remark, txData, sign
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.hash,jdbcType=VARCHAR}, #{item.type,jdbcType=INTEGER}, #{item.txIndex,jdbcType=INTEGER},
            #{item.blockHeight,jdbcType=BIGINT}, #{item.createTime,jdbcType=BIGINT}, #{item.fee,jdbcType=BIGINT},
            #{item.remark,jdbcType=VARCHAR}, #{item.txData,jdbcType=VARBINARY}, #{item.sign,jdbcType=VARBINARY})
        </foreach>
    </insert>
    <select id="countAll" resultType="java.lang.Long">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select count(hash) from transaction
    </select>
    <select id="selectList" parameterType="io.nuls.db.dao.impl.mybatis.util.Searchable"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from transaction
        <include refid="io.nuls.db.dao.impl.mybatis.common.CommonMapper.Serach_Where"/>
    </select>
    <select id="selectCount" parameterType="io.nuls.db.dao.impl.mybatis.util.Searchable" resultType="java.lang.Long">
        select count(hash) from transaction
        <include refid="io.nuls.db.dao.impl.mybatis.common.CommonMapper.Serach_Where"/>
    </select>

    <select id="selectByAddress" parameterType="io.nuls.db.dao.impl.mybatis.util.Searchable" resultMap="BaseResultMap">
        select b.*
        from tx_account_relation a
        join `transaction` b on a.tx_hash = b.`hash`
        <include refid="io.nuls.db.dao.impl.mybatis.common.CommonMapper.Serach_Where"/>
    </select>
</mapper>