<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
	       ">

    <!--开启spring注解扫描 -->
    <context:component-scan base-package="io.nuls.db.*">
        <context:exclude-filter type="regex" expression="io.nuls.db.dao.*" />
        <context:exclude-filter type="regex" expression="io.nuls.db.impl.*" />
    </context:component-scan>

    <!-- 配置加载的外部配置项 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:cfg.properties</value>
            </list>
        </property>
    </bean>
</beans>